In [1]:
# Task_4

In [2]:
countries_temperature = [
    ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Germany', [57.2, 55.4, 59, 59, 53.6]],
    ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]

for i in countries_temperature:
    print(i[0], '-', round((sum(i[1]) / len(i[1]) - 32) / 1.8, 1), 'C')

Thailand - 23.9 C
Germany - 13.8 C
Russia - 3.7 C
Poland - 12.0 C

In [11]:
#Task_1 Variant 1 delete Middle letters

In [4]:
s = input()
if len(s) % 2 == 0:
    print(s[:len(s)//2-1] + s[len(s)//2+1:])
else:
    print(s[:len(s)//2] + s[len(s)//2+1:])

test
tt

In [5]:
s = input()
if len(s) % 2 == 0:
    print(s[:len(s)//2-1] + s[len(s)//2+1:])
else:
    print(s[:len(s)//2] + s[len(s)//2+1:])

testing
tesing

In [12]:
#Task1 Variant 2 Print Middle Letters

In [8]:
s = input()
if len(s) % 2 == 0:
    print(s[len(s)//2-1] + s[len(s)//2])
else:
    print(s[len(s)//2])

testing
t

In [9]:
s = input()
if len(s) % 2 == 0:
    print(s[len(s)//2-1] + s[len(s)//2])
else:
    print(s[len(s)//2])

test
es

In [13]:
#Task_2

In [1]:
print(sum(map(int, iter(input, "0"))))

5
5
5
15
10
0
40

In [2]:
#Task_3

In [10]:
g = ["Peter", "Alex", "John", "Arthur", "Richard"]
sorted (g)
b = ["Kate", "Lisa", "Kira", "Emma", "Tina"]
sorted (b)
gb = g,b
print (gb)

(['Peter', 'Alex', 'John', 'Arthur', 'Richard'], ['Kate', 'Lisa', 'Kira', 'Emma', 'Tina'])

In [13]:
g = ["Peter", "Alex", "John", "Arthur", "Richard"]
sorted (g)
b = ["Kate", "Lisa", "Kira", "Emma", "Tina"]
sorted (b)
gb = g,b
if len(g) == len(b):
    print (gb)
else:
    print ("no match")

(['Peter', 'Alex', 'John', 'Arthur', 'Richard'], ['Kate', 'Lisa', 'Kira', 'Emma', 'Tina'])

In [14]:
g = ["Peter", "Alex", "Arthur", "Richard"]
sorted (g)
b = ["Kate", "Lisa", "Kira", "Emma", "Tina"]
sorted (b)
gb = g,b
if len(g) == len(b):
    print (gb)
else:
    print ("no match")

no match